.dashboard-container {
  display: flex;
}

.sidebar button {
  background-color: transparent;
}

.sidebar {
  width:20%;
  padding: 10px;
  border-right: 3px solid #e0e0e0;
  display: flex;
  flex-direction: column;
 
 
}

.main {
  flex: 2;
  padding: 20px;
}

h2 {
  margin-top: 0;
  font-size: 1.5rem;
}


.main button {
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: rgb(240, 233, 233);
  font-size: 1rem;
  transition: background-color 0.3s ease;

}



button:hover {
  background-color: #6bea6f;
}

.tooltip {
  position: absolute;
  background-color: #413c3c;
  color: white;
  padding: 5px;
  border-radius: 5px;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

button:hover .tooltip {
  opacity: 1;
}

canvas {
  border: 1px solid #e0e0e0;
  width:1000 px;
  background: repeating-linear-gradient(transparent, transparent 10px, rgba(0, 0, 0, 0.1) 11px), repeating-linear-gradient(90deg, transparent, transparent 10px, rgba(0, 0, 0, 0.1) 11px);
}



.shape-button {
  border: 1px solid #e0e0e0;
  /* Added border */
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background-color: #fafafa;
  cursor: pointer;
}

.shape-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* this is original */
.navbar {
  background-color: lightslategrey;
  /* Background color of the navbar */
  color: white;
  /* Text color */
  padding: 10px 20px;
  /* Padding for the navbar content */
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
}

.navbar h1 {
  margin: 0;
  /* Remove default margin */
}

/* Home.css */

.profile-image {
  width: 40px;
  
  height: 40px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
}


.profile-menu {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: rgb(18, 14, 14);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.profile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-menu ul li {
  cursor: pointer;
  padding: 8px 16px;
}

.profile-menu ul li:hover {
  background-color: #f0f0f0;
}

.sidbar-right{
 width:15%;
 padding: 10px;
 border-left: 3px solid #e0e0e0;
 

}
.dropdown-container {
  width: 200px;
  margin: 9px;
}

.button-container-textalign{
  padding-left:18px;
  display: flex;
  justify-content: space-between;
}
.button-container-textalign button{
  font-size: 20px;
  background-color: rgba(232, 228, 228, 0.872);
  border: 1px solid rgb(45, 34, 34);
}
.center {
  margin:auto;
  margin-top: 20px;


}

.left {
  margin-right: auto; /* Align button to left */
}

.right {
  margin-left: auto; /* Align button to right */
}

.button-container-textstyle{
  display: flex;
  justify-content: space-between;
  padding-left:18px;
}
.button-container-textstyle button{
  font-size: 20px;
  background-color: rgba(232, 228, 228, 0.872);
  border: 1px solid rgb(45, 34, 34);
  }

  .button-container-color{
    display: flex;
    border: 1px solid black;
    margin-top: 15px;
    
  }
  .button-container-color button{
    font-size: 20px;
    background-color: rgba(232, 228, 228, 0.872);
    border: 1px solid rgb(45, 34, 34);
  

  
  }
  .text-color{
    margin-left: auto;
    margin-top: 30px;
    margin-left: 13px;
  }
  .color-button
  {
 margin-left: 70px;
 margin-bottom: 14px;
  }
 