.container {
  display: flex;
}

.sidebar {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #e0e0e0; /* Light gray border */
}

.main {
  flex: 2;
  padding: 20px;
}

h2 {
  margin-top: 0;
  font-size: 1.5rem; /* Larger heading font size */
}

button {
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1rem; /* Button text font size */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

button.selected {
  background-color: #f0f0f0; /* Light gray background for selected button */
}

button:hover {
  background-color: #f5f5f5; /* Slightly lighter background color on hover */
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
  top: calc(100% + 5px); /* Position the tooltip below the button */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

button:hover .tooltip {
  opacity: 1;
}

canvas {
  border: 1px solid #e0e0e0; /* Light gray canvas border */
  border-radius: 5px; /* Rounded corners */
}

.shape-button {
  border: 1px solid #e0e0e0; /* Light gray border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px;
  margin: 5px;
  background-color: #fafafa; /* Light gray background */
  cursor: pointer;
}

.shape-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px; /* Add some spacing between the icon and text */
}
