.container {
  display: flex;
}

.sidebar {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.main {
  flex: 2;
  padding: 20px;
}

h2 {
  margin-top: 0;
}

button {
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

button.selected {
  background-color: #ccc;
}

/* .tooltip {
  position: absolute;
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
} */

button:hover .tooltip {
  opacity: 1;
}

canvas {
  border: 1px solid black;
}

.shape-button {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: #fff;
  cursor: pointer;
}

.shape-icon {
  width: 20px;
  height: 20px;
}


/* outer boarder for each shape */
/* .rectangle {
  background-color: #fff; 
  border: 1px solid #000; 
}

.circle {
  background-color: #fff; 
  border: 1px solid #000;
  border-radius: 50%;
} */
